@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    font-family: "Lexend", sans-serif;
    
}
.numbered-list {
    counter-reset: list-counter;
  }
  
  .numbered-list li {
    counter-increment: list-counter;
  }
  
  .numbered-list li .list-number::before {
    content: counter(list-counter);
    font-weight: bold;
    line-height: 2rem; /* Align number vertically */
  }
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #00000015;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0BE58A;
    border-radius: 50px;
  }
  /* Hide the top and bottom scrollbar arrow icons */
  ::-webkit-scrollbar-button {
    display: none;
  }
