@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Lexend", sans-serif;
    
}
.numbered-list {
    counter-reset: list-counter;
  }
  
  .numbered-list li {
    counter-increment: list-counter;
  }
  
  .numbered-list li .list-number::before {
    content: counter(list-counter);
    font-weight: bold;
    line-height: 2rem; /* Align number vertically */
  }